body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ee1919;
}

main {
  /* padding: 20px; */
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8b4b6;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
  width: 100%;
  animation: fadeInUp 1s ease;
  border-bottom: 1px solid black;
}

.testimonial {
  background-color: #b0d0ec;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: calc(100% - 100px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.quote{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.testimonial:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.testimonial img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
  transition: transform 0.3s ease;
}

.testimonial:hover img {
  transform: scale(1.1);
}

.testimonial .content {
  overflow: hidden;
}

.testimonial .quote {
  margin-top: 0;
  color: #333;
}

.testimonial .author {
  font-weight: bold;
  margin-bottom: 5px;
  color: #4caf50;
  transition: color 0.3s ease;
}

.testimonial:hover .author {
  color: #2e8b57;
}

.testimonial .position {
  font-style: italic;
  color: #666;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 200px; /* Adjust the size of the logo as needed */
  border: 2px solid rgb(197, 196, 196);
}
.logo img:hover {
  border: 2px solid rgb(31, 79, 10);
}