*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/static/images/4.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
 animation: changeImage 40s ease-in 10ms infinite;
 align-items: center;
 justify-content: center;

}
@keyframes changeImage {
  0%{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/static/images/6.jpg);
  }20%{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/static/images/1.jpg);
  }40%{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/static/images/2.jpg);
  }60%{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/static/images/3.jpg);
  }80%{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/static/images/4.jpg);
  }100%{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/static/images/5.jpg);
  }
}
#admin{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
}
.form-box{
  display: flexbox;
  justify-content:center;
  flex-wrap: inherit;
  min-height: auto;
  min-width: auto;
} 

.form-box{
  border-radius: 2rem;
  height:40rem;
  width: 25rem;
  position: relative;
  background-color: rgba(235, 225, 225, 0.5);
  padding: 0.5rem;
  overflow: hidden;
  opacity: 1;
}
#title{
  margin-top: 1rem;
  margin-left: 18%;
  font-size: 30px;
  color: darkgreen;
  font-weight: 900;
}
#icon{
border-radius: 4px;
width: 20px;
  
}

.button-box{
  width:220px;
  margin-top:1rem;
  margin-left: 4rem;
  position:relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
  text-align: center;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: 700;
    
}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  border: 2px solid black;
  background-color: rgba(8, 190, 111, 0.964);
  border-radius: 30px;
  transition: .5s;
  
}

.input-group{
  top: 180px;
  position:absolute;
  width: 280px;
  transition: .5s;
}
#register.input-group {
  top: 160px;
  position:absolute;
  width: 280px;
  transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
} 
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin:auto;
  background-color:rgba(8, 190, 111, 0.964);
  outline: none;
  border-radius:2rem;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.submit-btn:hover{
  background-color:rgba(1, 146, 83, 0.964) ;
  color: white;
}
.check-box{
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
span{
  color: #151414;
  font-size: 12px;
  font-weight: 700;
  bottom: 68px;
  position: absolute;
}
form ::placeholder{
  color: #151414;
}
#login{
  left: 50px;
}
 
#register{
  left: 450px;

}

.check{
  width :100%;
height:2rem;
margin-top : 1.5rem;
}


 
