{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kissan Seva</title>
  <link rel="stylesheet" href="{%static 'css/home/index.css/'%}" />
  <link rel="stylesheet" href="{%static 'css/navber/navber.css/'%}" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <style>
    .portfolio .cards .card {

      padding: 0 0 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }


    .services .card img {
      width: 120px;

      height: auto;
      margin-bottom: 20px;
      border-radius: 100%;
      object-fit: cover;
    }

    .portfolio .card img {
      width: 100%;
      background-position: 100% 100%;
      object-fit: cover;
      padding-bottom: 10px;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      border-radius: 7px;
    }

    .cards .card p {
      padding: 0 15px;
      color: var(--text-color);
    }

    .cards .card h3 {
      color: var(--heading-color);
    }
  </style>
</head>

<body>
  <header>
    {% include "navbar/navbar.html" %}
  </header>


  <main>
    <!-- <section> -->
    {% include 'hero/hero.html' %}
    <!-- </section> -->


    <!-- <section> -->
    {% include 'services/services.html' %}
    <!-- </section> -->

    <div>
      <section class="portfolio" id="portfolio">
        <h2>Our Blogs</h2>
        <p>Main Challenges Facing Agriculture.</p>
        <ul class="cards">
          <li class="card">
            <img
              src="https://images.pexels.com/photos/5909696/pexels-photo-5909696.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="img">
            <h3>Farming Challenges</h3>
            <p>Farming faces various obstacles, including climate change, soil degradation, and water scarcity. These
              challenges threaten global food security and require innovative solutions for sustainable agriculture.</p>
          </li>
          <li class="card">
            <img
              src="https://images.pexels.com/photos/4207909/pexels-photo-4207909.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="img">
            <h3>Climate Change</h3>
            <p>Changing weather patterns, such as extreme heat, droughts, and floods, disrupt crop growth and threaten
              agricultural productivity worldwide.</p>
          </li>
          <li class="card">
            <img
              src="https://images.pexels.com/photos/7415326/pexels-photo-7415326.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="img">
            <h3>Soil Degradation</h3>
            <p>Erosion, nutrient depletion, and pollution degrade soil quality, reducing fertility and impacting crop
              yields, posing a significant challenge to farmers.</p>

          </li>
          <li class="card">
            <img
              src="https://images.pexels.com/photos/14689034/pexels-photo-14689034.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="img">
            <h3>Water Scarcity</h3>
            <p>Depleting water resources and inefficient irrigation practices lead to water scarcity, jeopardizing crop
              production and agricultural sustainability.</p>

          </li>
          <li class="card">
            <img
              src="https://images.pexels.com/photos/17315200/pexels-photo-17315200/free-photo-of-indian-cows-on-pasture.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="img">
            <h3>Market Volatility</h3>
            <p>Fluctuating commodity prices and trade uncertainties impact farm profitability and livelihoods,
              necessitating risk management strategies for farmers.</p>
          </li>
          <li class="card">
            <img
              src="https://images.pexels.com/photos/19643774/pexels-photo-19643774/free-photo-of-view-of-a-banana-plantation-and-palm-trees.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="img">
            <h3>Technology Adoption</h3>
            <p>Technological innovations, such as precision agriculture and digital farming, offer opportunities to
              optimize resource use and enhance productivity in agriculture.</p>
          </li>
        </ul>
      </section>
    </div>


    <section>
      {% include 'feedbackform/feedbackform.html' %}

    </section>

    <!-- <div class="main">
      <div class="category_heading">Trending blogs</div>
      <div class="category_items">

        <a href="Blogs.html"><img class="sale_item" src="{%static 'images/b1.png'%}" /></a>

        <a href="Blogs.html"><img class="sale_item" src="{%static 'images/b2.jpg'%}" /></a>

        <a href="Blogs.html"><img class="sale_item" src="{%static 'images/b3.jpg'%}" /></a>

        <a href="Blogs.html"><img class="sale_item" src="{%static 'images/b4.jpg'%}" /></a>

        <a href="Blogs.html"><img class="sale_item" src="{%static 'images/b5.jpg'%}" /></a>

        <a href="Blogs.html"><img class="sale_item" src="{%static 'images/b5.jpg'%}" /></a>
      </div>

    </div> -->
    <!-- 
    <div class="Testimonials_heading">Testimonials</div>
    <div class="Testimonials_items">
      <a href="Testimonials.html"><img class="T_item" src="{%static 'images/t1.png'%}" /></a>

      <a href="Testimonials.html"><img class="T_item" src="{%static 'images/t2.png'%}" /></a>

      <a href="Testimonials.html"><img class="T_item" src="{%static 'images/t3.png'%}" /></a>

      <a href="Testimonials.html"><img class="T_item" src="{%static 'images/t4.png'%}" /></a>
    </div> -->
  </main>
  <footer>
    {% include "footer/footer.html" %}
  </footer>



  <!-- javascript -->
  <script src="{%static 'js/index.js'%}"></script>
</body>

</html>