{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Testimonials</title>
  <link rel="stylesheet" href="{%static 'css/testimonial/testimonials.css/'%}" />
  <!-- <link rel="stylesheet" href="{%static 'css/testimonial/swiper-bundle.min.css'%}" /> -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

</head>

<body>
  {% include "navbar/navbar.html" %}
  <!-- <main>
    <div class="logo">
      <a href="/"><img src="{%static 'images/l1.png'%}" alt="Logo" /></a>
    </div>
    <h1>Testimonials</h1>
    {% for t in testi %}
    <div class="testimonial">
      <img src="/media/{{t.picture}}" alt="Testimonial Author"/>
      <div class="content">
        <p class="quote">
          {{ t.testimonial }}
        </p>
        <p class="author"> {{ t.name }} </p>
      </div>
      <div style="clear: both"></div>
    </div>
    {% endfor %}

  </main> -->
  <!-- <section class="container">
    <div class="testimonial mySwiper">
      <div class="testi-content swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="{%static 'images/images/img1.jpg'%}" alt="" class="image" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            saepe provident dolorem a quaerat quo error facere nihil deleniti
            eligendi ipsum adipisci, fugit, architecto amet asperiores
            doloremque deserunt eum nemo.
          </p>

          <i class="bx bxs-quote-alt-left quote-icon"></i>

          <div class="details">
            <span class="name">Marnie Lotter</span>
            <span class="job">Web Developer</span>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="{%static 'images/images/img2.jpg'%}" alt="" class="image" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            saepe provident dolorem a quaerat quo error facere nihil deleniti
            eligendi ipsum adipisci, fugit, architecto amet asperiores
            doloremque deserunt eum nemo.
          </p>

          <i class="bx bxs-quote-alt-left quote-icon"></i>

          <div class="details">
            <span class="name">Marnie Lotter</span>
            <span class="job">Web Developer</span>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="{%static 'images/images/img3.jpg'%}" alt="" class="image" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
            saepe provident dolorem a quaerat quo error facere nihil deleniti
            eligendi ipsum adipisci, fugit, architecto amet asperiores
            doloremque deserunt eum nemo.
          </p>

          <i class="bx bxs-quote-alt-left quote-icon"></i>

          <div class="details">
            <span class="name">Marnie Lotter</span>
            <span class="job">Web Developer</span>
          </div>
        </div>
      </div>
      <div class="swiper-button-next nav-btn"></div>
      <div class="swiper-button-prev nav-btn"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section> -->
  <!-- <script src="{%static 'js/myswiper.js/'%}"></script> -->

  <!-- JavaScript -->
  <!-- <script src="{%static 'js/swiper-bundle.min.js/'%}"></script> -->
</body>
<!-- {% include "footer/footer.html" %} -->

</html>