/* About Us page styles */
body {
  font-family: Arial, sans-serif;
  background-color: #debcbc;
  color: #333;
  margin: 0;
  padding: 0;
}

.about-section {
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slide-up 1s ease-out;
}

.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  animation: scale-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #333; /* Set text color */
  transition: color 0.3s ease; /* Add transition effect */
  border-bottom: 1px solid rgb(26, 25, 25);
}

.about-section h2:hover {
  color: #054704; /* Change text color on hover */
  border-bottom: 4px solid rgb(128, 167, 69);
}

.about-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #555; /* Set text color */
  transition: color 0.3s ease; /* Add transition effect */
}

.about-section p:hover {
  color: #777; /* Change text color on hover */
}

.about-section img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: scale-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: transform 0.3s ease; /* Add transition effect */
}

.about-section img:hover {
  transform: scale(1.05); /* Increase size on hover */
}

.team-section {
  text-align: center;
  margin-top: 40px;
  animation: slide-up 1s ease-out;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.team-member {
  border: 2px solid black;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(81, 1, 1, 0.1);
  padding: 20px;
  flex: 1 0 calc(33.33% - 20px); /* Adjust this value for responsiveness */
  max-width: calc(
    33.33% - 20px
  ); /* Adjust this value for responsiveness */
  animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.team-member img {
  border-radius: 50%;
  width: 150px; /* Set the width of the image */
  height: 150px; /* Set the height of the image */
  object-fit: cover;
  margin-bottom: 5px;
  transition: transform 0.3s ease; /* Add transition effect */
}

.team-member img:hover {
  transform: scale(1.3); /* Increase size on hover */
}

.team-member h3 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #333; /* Set text color */
  transition: color 0.3s ease; /* Add transition effect */
}

.team-member h3:hover {
  color: #ff6600; /* Change text color on hover */
}

.team-member p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555; /* Set text color */
  transition: color 0.3s ease; /* Add transition effect */
}

.team-member p:hover {
  color: #030303; /* Change text color on hover */
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .about-section h2 {
    font-size: 28px;
  }
  .about-section p {
    font-size: 16px;
  }
  .team-member {
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
.abt_img {
  width: 50%;
  border-radius: 50px;
  border: 2px solid black;
}
.logo {
  width: 10%;
  border: 2px solid rgb(197, 196, 196);
}
.logo:hover {
  border: 2px solid rgb(31, 79, 10);
}
.text {
  font-size: large;
  font-style: italic;
  font-weight: 500;
}