html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 12px 12px;
}
.banner_container {
  margin: 0px 0px 5px 0px;
}
.banner_image {
  border-radius: 5px;
  width: 100%;
}
.category_heading {
  margin-top: 20rem;
  text-transform: uppercase;
  color: var(--heading-color);
  letter-spacing: 0.15em;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 50px;
  max-height: 5em;
  font-weight: 800;

  cursor: pointer;
}

.category_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sale_item {
  width: 490px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sale_item:hover {
  border: 10px solid white;
}
.Testimonials_heading {
  text-transform: uppercase;
  color: var(--heading-color);
  letter-spacing: 0.15em;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 50px;
  max-height: 5em;
  font-weight: 800;

  cursor: pointer;
}

.Testimonials_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.T_item {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 10px 10px 10px 0;
  height: 400px;
  width: 720px;
  border-radius: 10px;
}
.T_item:hover {
  border: 10px solid rgb(152, 161, 168);
}

footer {
  background-color: var(--nav-color);
  color: var(--text-color);
  font-size: 16px;
}

/* footer  {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
} */
.row {
  padding: 2em 1em;
}

.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: stretch;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

.main-heading-footer {
  width: 100%;
  text-align: left;
  color: var(--heading-color);
  font-size: 1.6em;
  white-space: nowrap;
  margin-bottom: 15px;
}

.footer-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.footer-ul li:not(:first-child) {
  margin-top: 0.8em;
}

.footer-ul li a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-ul li a:hover {
  color: var(--sub-heading);
}

.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

button {
  background-color: var(--sub-heading);
  color: var(--text-color);
}

div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
  border-radius: 50%;
}

.social i:hover {
  color: var(--sub-heading);
}

.row.secondary {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.row.secondary i {
  font-size: 1.8em;
  color: var(--sub-heading);
}

.row.secondary div {
  padding: 1em 0;
  width: 100%;
}

/* .row.secondary div:hover {
  background-color: var(--sub-heading);
} */

.copyright {
  padding: 0.3em 1em;
  background-color: var(--sub-heading);
}

.copyright p {
  font-size: 0.9em;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

  .row.secondary {
    flex-direction: column;
  }
}
