/* .feedback-form-section {
  padding: 80px 0 0;
}

.Feedback_heading {
  text-transform: uppercase;
  color: var(--heading-color);
  letter-spacing: 0.15em;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 50px;
  max-height: 5em;
  font-weight: 800;

  cursor: pointer;
}

.container {
  height: 100vh;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffffb0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slide-up 0.5s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

.form-group input[type="text"],
.form-group textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group textarea {
  height: 200px;
}

.form-group input[type="submit"] {
  display: block;

  margin: 0 auto;

  background-color: #4caf50;
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.form-group input[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.rating {
  text-align: center;
  margin-top: 20px;
}

.rating label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.rating span {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.rating span:hover,
.rating span.active {
  transform: scale(1.2);
}

#rating-emoji {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .form-group input[type="text"],
  .form-group textarea {
    width: calc(100% - 20px);
  }

  .form-group input[type="submit"] {
    width: 100%;Feedback_heading
  }
} */
.feedback-form-section p {
  color: var(--sub-heading);
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  margin: auto !important ;
}
.rating {
  text-align: center;
  margin-top: 20px;
}

.rating label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.rating span {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.rating span:hover,
.rating span.active {
  transform: scale(1.2);
}

#rating-emoji {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}
.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.custom-file-input {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--nav-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Optionally, style the input field itself to make it invisible */
input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.feedback-form-section {
  padding: 80px 0 0;
}

.Feedback_heading {
  color: var(--heading-color);
  line-height: 1;
  font-size: 52px;
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 50px;
  /* box-sizing: none !important; */
  font-weight: 800;

  cursor: pointer;
}
.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  width: 100%;
  max-width: 900px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: var(--heading-color);
  margin-bottom: 12px;
}
.formbold-form-wrapper form {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;

  font-size: 16px;
  color: #6b7280;

  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  width: 100%;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: var(--nav-color);
  color: var(--text-color);
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}
