body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c8c5c5; /* Background color applied to the entire page */
  color: #070000;
}

.header {
  text-align: center;
  margin-top: 15px;
}

.header h1 {
  font-size: 50px;
  color: #242524;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.header p {
  font-size: 27px;
  margin-top: 0;
  color: #080808;
}

.contact-info {
  margin: 30px auto;
  max-width: 500px;
  text-align: center;
}

.contact-info p {
  margin: 5px 0;
  font-size: 25px;
  line-height: 1.6;
  color: #090909;
}

.contact-info i {
  margin-right: 10px;
  font-size: 20px;
  color: #06970a;
}

.social-icons {
  text-align: center;
  margin-top: 30px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #0b0b0b;
  font-size: 30px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #65d868;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #5b5757;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

textarea {
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #4caf50;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #035107;
}

.form-group {
  position: relative;
}

.form-group .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #ccc;
  transition: color 0.3s;
}

.form-group:hover .icon {
  color: #666;
}

@keyframes slideInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes colorChange {
  0% {
    background-color: #4caf50;
  }

  50% {
    background-color: #45a049;
  }

  100% {
    background-color: #4caf50;
  }
}

.header {
  animation: slideInRight 1s ease;
}

form {
  animation: slideInRight 1s ease;
}

.form-group {
  animation: scaleIn 1s ease;
}

button {
  animation: colorChange 2s infinite;
}

.submit-button {
  text-align: center;
}
.logo {
  width: 10%;
  border: 2px solid rgb(197, 196, 196);
}
.logo:hover {
  border: 2px solid rgb(31, 79, 10);
}