{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Vertical Timeline</title>
    <link rel="stylesheet" href="{%static 'css/ScholarUI/welcome.css'%}" />
  </head>

  <body style="background-image: url(/static/images/bgscholar.avif);">
    <header>
      <div style="color: rgb(247, 51, 12);margin-bottom: 50px;" class="main-heading">Welcome Scholars</div>
      <div>
        <p style="color: rgb(246, 211, 246);margin: 20px 40px 0px 40px;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nobis
          officiis dicta dolores? Tenetur consequatur illum eveniet
          reprehenderit corrupti sed molestias amet soluta pariatur eos
          recusandae porro impedit dignissimos placeat sit, modi quibusdam
          quidem explicabo accusantium odio. Tempora harum quos eveniet possimus
          quidem, nihil illum rem dolorum expedita at quisquam inventore
          perspiciatis ipsam maiores natus fuga, rerum soluta, eos nemo
          molestias. Et sunt suscipit accusantium esse, reprehenderit, quam
          animi sequi iusto perspiciatis optio rerum a labore ipsam velit ut qui
          sint nemo commodi inventore. Totam molestiae, illo eveniet error
          laudantium dolorem inventore reiciendis adipisci cumque. Nisi numquam
          incidunt praesentium id.
        </p>
      </div>

      <div class="timeline-wrapper">
        <div class="center-line">
          <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
        </div>
        <div class="timeline-row timeline-row-1">
          <section>
            <i class="icon fas fa-home"></i>
            <div class="details">
              <span class="title">Problem 1</span>
              <span>1st Jan 2024</span>
            </div>
            <p>
              Welcome to my cozy home. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Commodi sapiente reprehenderit cupiditate
              tempora unde exercitationem distinctio officia repellendus
              assumenda, veritatis debitis illo ea, voluptates, laboriosam
              doloribus possimus nemo. Incidunt porro aliquid reprehenderit
              ducimus dicta atque provident illum est consequatur, et
              voluptatibus, natus accusantium veniam impedit a repellendus
              earum? Pariatur, tempora!
            </p>
            <div class="bottom">
              <a href="#">Read more</a>
              <i>- Homeowner</i>
            </div>
          </section>
        </div>
        <div class="timeline-row timeline-row-2">
          <section>
            <i class="icon fas fa-star"></i>
            <div class="details">
              <span class="title">Problem 2</span>
              <span>5th Feb 2024</span>
            </div>
            <p>
              Under the starry night, we embarked on an unforgettable journey.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Maiores,
              pariatur rerum. Nostrum, ullam obcaecati architecto a, delectus
              optio voluptates repudiandae minima maxime cum commodi, reiciendis
              hic enim natus ad culpa voluptate facere aspernatur placeat
              dignissimos deserunt nihil iure. Magni aspernatur corporis
              adipisci commodi. Autem nesciunt fugit modi, ab quaerat
              voluptates!
            </p>
            <div class="bottom">
              <a href="#">Read more</a>
              <i>- Stargazer</i>
            </div>
          </section>
        </div>
        <div class="timeline-row timeline-row-1">
          <section>
            <i class="icon fas fa-rocket"></i>
            <div class="details">
              <span class="title">Problem 3</span>
              <span>10th Mar 2024</span>
            </div>
            <p>
              We launched our dreams into the vastness of space. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet consectetur, adipisicing elit. Aperiam earum laboriosam,
              provident voluptatibus accusantium, eaque voluptate maxime quis
              repellendus debitis optio illo sit est quidem facere. Deserunt,
              corporis magni commodi autem quam fugit esse quisquam voluptatem
              qui sit culpa neque reprehenderit voluptates dolorem, possimus
              consequuntur error at adipisci natus maiores.
            </p>
            <div class="bottom">
              <a href="#">Read more</a>
              <i>- Dreamer</i>
            </div>
          </section>
        </div>
        <div class="timeline-row timeline-row-2">
          <section>
            <i class="icon fas fa-globe"></i>
            <div class="details">
              <span class="title">problem 4</span>
              <span>15th Apr 2024</span>
            </div>
            <p>
              Traveled across the globe, experiencing diverse cultures. Lorem
              ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Sit dolor temporibus
              velit aliquam dolorum nemo veniam tempora eos voluptas, quaerat
              dolore deserunt voluptatem nesciunt. Quos aperiam et rem quis
              architecto dolores sint asperiores reprehenderit itaque. Nihil
              laudantium praesentium minus dicta corporis totam sunt modi fuga
              quaerat ut. Nulla, velit accusantium.
            </p>
            <div class="bottom">
              <a href="#">Read more</a>
              <i>- Globetrotter</i>
            </div>
          </section>
        </div>
        <div class="timeline-row timeline-row-1">
          <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
              <span class="title">problem 5</span>
              <span>20th May 2024</span>
            </div>
            <p>
              Flew paper planes and let imagination soar high. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Debitis quasi ex suscipit distinctio
              quos unde dolore libero, maiores, sapiente rem doloribus cumque
              explicabo impedit architecto repellat, qui est rerum vitae soluta
              saepe nesciunt error eaque! Dolore porro, velit asperiores dicta
              tempore sit perspiciatis voluptate accusamus voluptatum assumenda,
              suscipit deleniti aliquid?
            </p>
            <div class="bottom">
              <a href="#">Read more</a>
              <i>- Dream Flyer</i>
            </div>
          </section>
        </div>
        <div class="timeline-row timeline-row-2">
          <section>
            <i class="icon fas fa-map-marker-alt"></i>
            <div class="details">
              <span class="title">Problem 6</span>
              <span>25th Jun 2024</span>
            </div>
            <p>
              Mapped unforgettable memories in the journey of life. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet consectetur, adipisicing elit. Voluptas eveniet itaque
              debitis ducimus enim reiciendis mollitia, quam tempore iste odit
              minima rerum sit adipisci, temporibus voluptatum et. Minus
              repellat mollitia molestiae temporibus? Error, fuga qui. Commodi,
              asperiores maiores sed ab fugiat sequi eveniet ratione tempore?
              Quia maxime cumque ex debitis.
            </p>
            <div class="bottom">
              <a href="#">Read more</a>
              <i>- Memory Mapper</i>
            </div>
          </section>
        </div>
      </div>
      <div></div>
    </header>
    <main>
      <div class="form-w">upload your research</div>
      <div class="container-w">
        <form action="/research/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group-w">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="form-group-w">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required/>
          </div>
          <div class="form-group-w">
            <label for="Description">Description:</label>
            <textarea style="height: 200px; width: 95%;" id="Description" name="description" required></textarea>
          </div>
          <div class="form-group-p">
            <label for="photo">Profile Photo:</label>
            <input type="file" required name="photo" id="photo" name="photo"/>
            <br />
            <label for="document">Upload your research paper:</label>
            <input type="file" required name="document" id="document" name="document" />
          </div>
          <div class="form-group-w">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
